# Environment variables
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
/node_modules/*.env

__pycache__/
*.pyc
*.pyo

**/.fastapi.log
**/.app.log

fastapi.log
app.log