.background-box {
  position: absolute; /* 화면의 특정 위치에 배치 */
  top: 0;
  left: 0;
  width: 1510px; /* 화면 너비 전체 */
  height: 790px; /* 화면 높이 전체 */
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7); /* 어두운 반투명 배경 */
  z-index: -1; /* report-content 뒤로 배치 */
}

.report-content {
  width: 793.7px; /* A4 가로 크기 */
  height: 1170px; /* A4 세로 크기 */
  margin: auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  transform: scale(0.65); /* 80% 크기로 축소 */
  transform-origin: top left; /* 축소 기준점 설정 */
}

.report-header {
  text-align: center;
  margin-bottom: 20px;
}

.report-header h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.report-header span {
  display: block;
  font-size: 14px;
  color: gray;
}

.grid-table {
  width: 100%;
  height: 1000px;
  border-collapse: collapse;
  margin-top: 20px;
}

.grid-table th,
.grid-table td {
  border: 1px solid #000;
  padding: 10px;

}

.grid-table th {
  font-weight: bold;
}
/* 특정 칸 배경색 설정 */
.highlight-cell {
  text-align: center;
  background-color: #a7a8a6;
  color: #000; /* 텍스트 색상을 검정으로 */
}
/* 의료기관 병합 스타일 */
.merged-cell {
  border: 2px solid #000; /* 두꺼운 테두리 */
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}
/* 치료소견 및 X-ray 병합 스타일 */
.treatment-cell {
  height: 200px; /* 병합된 칸의 높이 설정 */
  vertical-align: top; /* 내용이 위쪽에 정렬되도록 설정 */
  text-align: center; /* 텍스트 및 이미지 중앙 정렬 */
}
.grid-table .report-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
/* X-ray 칸과 진단내용 칸 스타일 */
.xray-cell {
  height: 500px;
  text-align: center;
  vertical-align: middle;
}

.diagnosis-cell {
  height: 100px;
  vertical-align: top;
  padding: 10px;
}
