@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
}

.navigation {
    position: fixed; /* 다른 요소들과 독립적으로 동작 */
    top: 200px; /* 페이지에서 100px 아래로 위치 */
    left: 0; /* 화면 왼쪽에 고정 */
    height: 550px;
    width: 70px;
    border-left: 10px rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    transition: width 0.5s;
}
.menu-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
  
.navigation:hover {
    width: 300px;
}

.navigation ul {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: background-color 0.3s ease; /* 부드러운 색상 전환 효과 */
}


.navigation ul li:hover {
    background: #555555; /* 기존보다 조금 더 밝은 회색 */
}
.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li.active a::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.navigation ul li.active a::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 63px;
    height: 80px;
    line-height: 78px;
    text-align: center;
    top: 7px;
}

.navigation ul li a .icon ion-icon {
    position: relative;
    font-size: 1.5em;
    z-index: 1;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 68px;
    line-height: 78px;
    white-space: nowrap;
    font-size: 30px;
}
/* 메뉴 오버레이 */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* 반투명 효과 */
    z-index: 99; /* 메뉴와 다른 요소들 위에 위치 */
    transition: opacity 0.3s ease; /* 부드러운 전환 효과 */
}

/* 확장된 메뉴 */
.navigation.expanded {
    width: 300px; /* 메뉴 확장 너비 */
    z-index: 100; /* 오버레이 위에 위치 */
}
